services:

  traefik:
    image: traefik:v3.1
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
    ports:
      - "8081:80"
      - "8089:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks: [appnet]

  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    command: ["start-dev"]
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: "true"
      KC_PROXY: "edge"
      KC_HOSTNAME: "auth.localtest.me"
      KC_HOSTNAME_STRICT: "false"
    labels:
      - traefik.enable=true
      - traefik.http.routers.keycloak.rule=Host(`auth.localtest.me`)
      - traefik.http.routers.keycloak.entrypoints=web
      - traefik.http.services.keycloak.loadbalancer.server.port=8080
    networks: [appnet]
    volumes:
      - ./.data/keycloak:/opt/keycloak/data

  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: blog
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpass
    ports:
      - "5432:5432"
    volumes:
      - ./.data/postgres:/var/lib/postgresql/data
      - ./docker/postgres/init:/docker-entrypoint-initdb.d
    networks: [appnet]

  pgadmin:
    image: dpage/pgadmin4:8
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8082:80"
    depends_on:
      - postgres
    networks: [appnet]

  prometheus:
    image: prom/prometheus
    volumes:
      - ./observability/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks: [appnet]

  tempo:
    image: grafana/tempo
    volumes:
      - ./observability/tempo.yml:/etc/tempo.yml
    command: ["-config.file=/etc/tempo.yml"]
    ports:
      - "3200:3200"
    depends_on:
      - otel-collector
    networks: [appnet]

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
        - ./observability/grafana/provisioning:/etc/grafana/provisioning
        - ./observability/grafana/data:/var/lib/grafana
    depends_on:
      - prometheus
      - tempo
      - loki
    networks: [appnet]

  otel-collector:
    image: otel/opentelemetry-collector-contrib
    container_name: otel-collector
    volumes:
      - ./observability/otel-collector.yml:/etc/otel-collector-config.yml
    command: ["--config=/etc/otel-collector-config.yml"]
    ports:
      - "4317:4317"
      - "4318:4318"
      - "9464:9464"
    networks: [appnet]

  loki:
    image: grafana/loki:3.0.0
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./observability/loki/loki-data:/tmp/loki
      - ./observability/loki/loki.yml:/etc/loki/loki.yml:ro
    command: -config.file=/etc/loki/loki.yml
    networks: [appnet]

  blog-api:
    hostname: blog-api
    build:
      context: ./backend/
      dockerfile: Dockerfile
      args:
        GIT_SHA: ${GIT_SHA}
    image: luisjrz96/blog-api:${GIT_SHA:-dev}
    environment:
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=$${KEYCLOAK_URL:http://auth.localtest.me:8081/realms/blogrealm}
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
    extra_hosts:
      - "auth.localtest.me:host-gateway"
    ports:
      - "8080:8080"
    networks: [appnet]

networks:
  appnet:
    driver: bridge