spring:
  config:
    activate:
      on-profile: local

  jpa:
    hibernate:
      ddl-auto: ${HIBERNATE_DDL_AUTO:update}
    properties:
      hibernate:
        format_sql: ${HIBERNATE_FORMAT_SQL:false}

management:
  tracing:
    sampling:
      probability: ${TRACING_SAMPLING_PROBABILITY:1.0}

logging:
  level:
    root: ${LOG_LEVEL_ROOT:INFO}
